
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #ddeae2;
}
header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
}
.iconos {
    display: flex;               
    justify-content: flex-end; 
  
              
}

.iconos svg {
    margin-right: 2%;    
    width: 2.5%;           
    height: 2.5%;             
}



h1 {
    color: #385744; 
    font-family: "Montserrat", sans-serif;
    margin: 0.5;
}

.btn {
    background-color: #aac8b6; 
    color: #2c412c; 
    padding: 0.5% 0.5%; 
    cursor: pointer; 

}

.btn:hover {
    background-color: #709C81; 
}

