
*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body{
    background-color: rgb(211, 211, 211);
}

h1 {
    color: black; 
    font-family: system-ui;
    margin: 0.5;
    margin-left: 20px;
}




.providers-section h3 {
    font-size: x-large;
    font-weight: bold; 
    margin-bottom: 2%; 
    color: #333;
    text-align: left;
}
.header-section {
    background-image: url('https://wallpapers.com/images/hd/minimalist-gray-2732-x-2732-zkpkl6upjsvubmg3.jpg'); 
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.provider-box {
    margin-bottom: 3%;
}
  
.providers-section {
    padding: 2% 0;
}

.providers-section .provider-box {
    padding: 3%;
    background-color: #f8f9fa;
    border-radius: 2%;
    text-align: center;
}

.providers-section .provider-box:hover {
    background-color: #cccccd;
}

@media (max-width: 768px) {
    .header-section h2 {
      font-size: medium;
    }
}
h2{
    color: white;
    font-family: system-ui;
    font-size: xx-large;
    text-align: center;
}

p{
    font-size: x-large;
   
}


.footer {
    background-color: #6c757d; 
    color: white; 
}

.footer a {
    color: white; 
}
.section2 {
    margin: 5%; 
}

.table {
    border-collapse: collapse; 
    width: 100%; 

}

.table th, .table td {
    border: 1px solid #ccc; 
    padding: 1%; 
    text-align: center; 
}
h3{
    text-align: left;
}



.providers-section1 {
    width: 100%;
    margin: 10px; 
    text-align: center; 
}

.row1 {
    display: flex; 
    justify-content: center; 
}

.provider-box1 {
    border: 1px solid #ccc; 
    padding: 20px;
    margin: 10px; 
    width: 100%; 
    max-width: 300px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.providers-section1 .provider-box1:hover {
    background-color: #cccccd;
}
.providers-section1 .provider-box1 {
    padding: 3%;
    background-color: #f8f9fa;
    border-radius: 2%;
    text-align: center;
}

