
*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body{
    background-color: rgb(211, 211, 211);
}

h1 {
    color: black; 
    font-family: system-ui;
    margin: 0.5;
}

.providers-section h3 {
    font-size: x-large;
    font-weight: bold; 
    margin-bottom: 2%; 
    color: #333;
    text-align: left;
}
.header-section {
    background-image: url('https://wallpapers.com/images/hd/minimalist-gray-2732-x-2732-zkpkl6upjsvubmg3.jpg'); 
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.provider-box {
    margin-bottom: 3%;
}
  
.providers-section {
    padding: 2% 0;
}

.providers-section .provider-box {
    padding: 3%;
    background-color: #f8f9fa;
    border-radius: 2%;
    text-align: center;
}

.providers-section .provider-box:hover {
    background-color: #cccccd;
}

@media (max-width: 768px) {
    .header-section h2 {
      font-size: medium;
    }
}
h2{
    color: white;
    font-family: system-ui;
    font-size: xx-large;
    text-align: center;
}

p{
    font-size: larger;
}


.footer {
    background-color: #6c757d; 
    color: white; 
}

.footer a {
    color: white; 
}
.section2 {
    margin: 5%; 
}

.table {
    border-collapse: collapse; 
    width: 100%; 

}

.table th, .table td {
    border: 1px solid #ccc; 
    padding: 1%; 
    text-align: center; 
}
h3{
    text-align: left;
}



.providers-section1 {
    width: 100%; /* Para que ocupe todo el ancho */
    margin: 10px; /* Márgenes pequeños alrededor de la sección */
    text-align: center; /* Centra el texto dentro de la sección */
}

.row1 {
    display: flex; /* Usar flex para la fila */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
}

.provider-box1 {
    border: 1px solid #ccc; /* Borde alrededor de cada caja */
    padding: 20px; /* Relleno dentro de la caja */
    margin: 10px; /* Márgenes alrededor de las cajas */
    width: 100%; /* O puedes ajustar a un tamaño específico */
    max-width: 300px; /* Controla el tamaño máximo de cada caja */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para dar efecto de profundidad */
}
.providers-section1 .provider-box1:hover {
    background-color: #cccccd;
}
.providers-section1 .provider-box1 {
    padding: 3%;
    background-color: #f8f9fa;
    border-radius: 2%;
    text-align: center;
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
}
.iconos {
    display: flex;               
    justify-content: flex-end; 
  
              
}

.iconos svg {
    margin-right: 2%;    
    width: 2.5%;           
    height: 2.5%;             
}



h1 {
    color: #385744; 
    font-family: "Montserrat", sans-serif;
    margin: 0.5;
}

.btn {
    background-color: #aac8b6; 
    color: #2c412c; 
    padding: 0.5% 0.5%; 
    cursor: pointer; 

}

.btn:hover {
    background-color: #709C81; 
}


.cont-titulo{
    background-image: url(../assets/imagenprincipal.jpg);
    opacity: 0.8;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
}

.titulo-principal{
    color: black;
    background-color: aliceblue;
}

.cont-article{
    margin: 5%;
    margin-top: 3%;
    text-align: center;
    background-color: rgb(89, 95, 95);
}


#fotocentralnucleargeorgie{
    width: 50%;
}


.hover-text {
    position: relative;
    display: inline-block;
}
.hover-text .text {
    visibility: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.hover-text:hover .text {
    visibility: visible;
    
}


.imghistoria{
    height: 400px;
}



#imagen1{
    height: 300px;
}


#imagen2{
    height: 300px;
}

#imagen3{
    height: 300px;
}